table {
  width: 100%;
}

.table-row {
  cursor: pointer;
}

.table-row:nth-of-type(odd) {
  background-color: #f2f2f2; /* Set background color for odd rows */
}

.table-row:hover {
  background-color: lightblue;
  transition-duration: 0.5s;
}
